* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}


/* Debug */

.debug .container,
.debug .hero {
    border: 1px solid orange;
}

.debug .row,
.debug .row-hero,
.debug .row-cards {
    border: 1px solid red;
}

.debug .col,
.debug .col-12,
.debug .col-8,
.debug .col-4,
.debug .col-4-t,
.debug .col-12-t {
    border: 1px solid blue;
}

.debug .container-hero {
    border: 1px solid brown;
}

.debug .container-business-plans {
    border: 1px solid violet;
}

.debug .business-plans-first-part {
    border: 1px solid royalblue;
}

.debug .cards-container {
    border: 1px solid salmon;
}



/* Header */

.page-header {
    background-color: white;
}

.container {
    max-width: 100%;
    min-height: 30px;
    padding: 2px;
}

.row,
.col {
    min-height: 30px;
    padding: 2px;
}

.page-header .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 110px;
    min-height: 25px;
    display: block;
    padding: 2px;
}

.navbar-items-left > li,
.navbar-items-right >li {
    display: inline-block;
    font-size: 11px;
    padding: 6px;
    vertical-align: middle;
}

.navbar-items-right {
    line-height: 30px;
}

.bg-blue,
.trial {
    color: white;
    background-color: #0061ff;
    padding: 5px 10px;
} 

.row-right {
    display: flex;
    justify-content: flex-end;
}

/* Inizio del Main */

/* Hero */

.hero {
    min-height: 300px;
    padding: 2px;
    background-color: #b4d0e7;
    margin-bottom: 20px;
}

.row-hero {
    display: flex;
    padding: 2px;
}

.container-hero {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 300px;
    padding: 2px;
}

.col-12, .col-8, .col-4 {
    padding: 2px;
}

.col-12 {
    min-height: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    min-height: 60px;
    padding: 20px;
}

.col-8 {
    flex-basis: calc((100% / 12) * 4);
    min-height: 60px;
    flex-grow: 1;
}

.hero-title {
    font-size: 68px;
    font-weight: 800;
    padding: 20px;
}

.text-hero-left {
    margin-bottom: 30px;
    font-size: 22px;
}

.trial {
    margin-bottom: 30px;
}

.cancel {
    margin-top: 30px;
    margin-bottom: 50px;
}

/* Business plans */

.container-business-plans {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 300px;
    padding: 2px;
}

.business-plans-first-part {
    padding: 2px;
}

.business-plans-checkbox {
    font-size: 11px;
    padding-right: 10px;
}

.circle {
    height: 10px;
    color: white;
    background-color: #0061ff;
    padding: 1px 5px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: normal;
}

.business-plans-title {
    margin-top: 20px;
    font-size: 38px;
}

.checkbox-container {
    margin: 15px 0px;
}

.cards-container {
    max-width: 100%;
    min-height: 100px;
    padding: 2px;
}

.row-cards {
    max-width: 100%;
    min-height: 100px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-4-t {
    padding: 2px;
    min-height: 200px;
    flex-basis: calc((100% / 12) * 3);
    flex-grow: 1;
    margin-bottom: 20px;
}

.col-12-t {
    min-height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.type-of-plane-name,
.month {
    opacity: 0.6;
}

.block-1-top {
    margin-bottom: 50px;
}

.block-1-top-items,
.block-1-botton-items {
    font-size: 11px;
    padding: 10px;
}

.use {
    font-size: 20px;
}
