* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}


/* Debug */

.debug .container {
    border: 1px solid orange;
}

.debug .row {
    border: 1px solid red;
}

.debug .col {
    border: 1px solid blue;
}





/* Header */

.container {
    width: 100%;
    min-height: 30px;
    padding: 2px;
}

.row,
.col {
    min-height: 30px;
    padding: 2px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    display: inline-block;
    flex-basis: calc((100% / 4));
}

.logo {
    width: 110px;
    min-height: 25px;
    display: inline-block;
    padding: 2px;
}

.navbar-items-left > li,
.navbar-items-right >li {
    display: inline-block;
    font-size: 12px;
    padding: 6px;
    vertical-align: middle;
}

.navbar-items-right {
    line-height: 30px;
}

.bg-blue {
    color: white;
    background-color: #0061ff;
    padding: 5px 10px;
} 

.row-right {
    display: flex;
    justify-content: flex-end;
}